@charset 'UTF-8'
body {
  background-image: url('../images/space-background-blacked-more.png');
  background-color: #000000;
  background-size: contain;
  font-family: 'D-DIN', 'DIN', 'Helvetica', 'Arial', sans-serif;
  color: #aaa;
  font-weight: 600;
  -webkit-text-size-adjust: none;

  @media only screen and (min-width: 991px) {
    background-size: cover;
  }
}
