@charset 'UTF-8'
body {
  background-image: url('../images/space-background-blacked-more.png');
  background-color: #003300;
  background-size: contain;
  font-family: 'D-DIN', 'DIN', 'Helvetica', 'Arial', sans-serif;
  color: #535359;
  font-weight: 600;
  -webkit-text-size-adjust: none;
}
